<div class="order-container">
  <h2>YOUR ORDER</h2>

  <div class="values-wrappers">
    <section class="values">
      <div>
        <p>Apple Watch Sport</p>
        <span>$ 580</span>
      </div>
      <div>
        <p>Total Modern Buckle </p>
        <span>$ 380</span>
      </div>
    </section>
    <br>
    <hr class="mobile">
    <br>
    <section class="values">
      <div>
        <p>Apple Watch Sport</p>
        <span>$ 580</span>
      </div>
      <div>
        <p>Total Modern Buckle </p>
        <span>$ 380</span>
      </div>
    </section>
  </div>
  <br>
  <hr class="mobile">
  <br>
  <section class="total">
    <span>Total</span>
    <h2>$ 960</h2>
  </section>
</div>
