<form #form="ngForm" (ngSubmit)="formSubmit(form)">
  <h1>
    <span>1</span>
    PERSONAL INFORMATION
  </h1>
  <div class="grid-container-informations">
    <div class="first-name">
      <label for="firstName">First Name</label>
      <input
        type="text"
        placeholder="First Name"
        name="firstName"
        id="firstName"
        ngModel
      >

    </div>
    <div class="last-name">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        placeholder="Last Name"
        name="lastName"
        id="lastName"
        ngModel
      >
    </div>
    <div class="email">
      <label for="email">Email</label>
      <input
        type="text"
        placeholder="Email"
        name="email"
        id="email"
        ngModel
      >
    </div>
    <div class="country">
      <label>Country</label>
      <select name="countries" ngModel>
        <option value="">Select Country</option>
        <option value="Brazil">Brazil</option>
        <option value="United States">United States</option>
        <option value="Canada">Canada</option>
        <option value="Japan">Japan</option>
        <option value="China">China</option>
      </select>
    </div>
    <div class="postalCode">
      <label for="postalCode">Postal Code</label>
      <input
      type="text"
      placeholder="Postal Code"
      name="postalCode"
      id="postalCode"
      ngModel
    >
    </div>
    <div class="phoneNumber">
      <label for="phoneNumber">Phone Number</label>
      <input
      type="tel"
      placeholder="Phone Number"
      name="phoneNumber"
      id="phoneNumber"
      (keydown)="onlyNumber($event)"
      ngModel
    >
    </div>
  </div>

  <h1>
    <span>2</span>
    PAYMENTS DETAILS
    <img src="../../../assets/padlock.svg" alt="">
  </h1>
  <div class="grid-container-details">
    <div class="card-number">
      <label for="cardNumber">Credit Card Number</label>
      <div class="flex">
        <input
        type="text"
        placeholder="000-0-00-0000-0000"
        name="cardNumber"
        id="cardNumber"
        ngModel
      >
      <img src="../../../assets/card-img.svg" alt="">
      </div>
    </div>
    <section>
      <div class="security-code">
        <label for="securityCode">Security Code</label>
        <div class="flex">
          <input
          type="password"
          placeholder="***"
          name="securityCode"
          id="securityCode"
          ngModel
        >
        <img src="../../../assets/interrogaton.svg" alt="">
        </div>
      </div>
      <div class="expiration-date">
        <label for="expirationDate">Expiration Date</label>
        <input
          type="text"
          placeholder="MM / YY"
          name="expirationDate"
          id="expirationDate"
          ngModel
        >
      </div>
    </section>
  </div>

  <button>
    <img src="../../../assets/cart.svg" alt="">
    COMPLETE PURCHASE
  </button>
</form>
