@import "../../../variables.scss";

form {
  width: 100%;
  max-width: 1440px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $gray-100;
    gap: 0.5rem;

    margin-top: 1.5rem;
    width: 100%;
    padding: 0.75rem;
    background-color: $green-200;

    border: 0;
    border-radius: 6px;

    cursor: pointer;

    &:hover {
      transition: 0.2s;
      background-color: $green-400;
    }
  }

  > h1 {
    font-size: 1rem;
    color: $gray-900;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    right: 20px;
    margin-bottom: 1rem;

    @media screen and (max-width: 1520px) {
      right: 10px;

    }

    span {
      color: $gray-100;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 50%;
      background-color: $gray-900;
    }
  }

  > .grid-container-informations {
    display: grid;
    grid-template-areas:
      "firstName lastName"
      "email email"
      "country postalCode"
      "phoneNumber phoneNumber";
    gap: 1rem;
    margin-bottom: 3rem;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;

    }

    .first-name {
      grid-area: firstName;
    }

    .last-name {
      grid-area: lastName;
    }

    .email {
      grid-area: email;
    }

    .country {
      grid-area: country;
    }

    .postalCode {
      grid-area: postalCode;
    }

    .phoneNumber {
      grid-area: phoneNumber;
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      background-color: $gray-100;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
      padding: 0.5rem 0.75rem;
      border-radius: 4px;

      label {
        font-size: $text-big-sm;
        color: $gray-900;
        font-weight: 600;
      }

      input {
        all: unset;
        color: $gray-900;
        font-size: $text-sm;

      }

      select {
        border: 0;
      }
    }
  }

  .grid-container-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .card-number {
      .flex {
        display: flex;
        justify-content: space-between;
        img {
          width: 30px;
        }
      }
    }

    .security-code {
      .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: 25px;
          position: relative;
          bottom: 6px;
        }
      }
    }

    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      background-color: $gray-100;
      padding: 0.5rem 0.75rem;
      border-radius: 4px;

      label {
        font-size: $text-big-sm;
        color: $gray-900;
        font-weight: 600;
      }

      input {
        all: unset;
        color: $gray-900;
        font-size: $text-sm;

      }
    }

    > section {
      display: flex;
      gap: 1rem;

      > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        background-color: $gray-100;
        padding: 0.5rem 0.75rem;
        border-radius: 4px;

        label {
          font-size: $text-big-sm;
          color: $gray-900;
          font-weight: 600;
        }

        input {
          all: unset;
          color: $gray-900;
          font-size: $text-sm;

        }
      }
    }
  }

}
