<form #form="ngForm" (ngSubmit)="formSubmit(form)">
  <h1>
    <span>1</span>
    PERSONAL INFORMATION
  </h1>
  <div class="grid-container-informations">
    <div class="first-name">
      <label for="">First Name</label>
      <input
        type="text"
        placeholder="First Name"
        name="firstName"
        ngModel
      >

    </div>
    <div class="last-name">
      <label for="">Last Name</label>
      <input
        type="text"
        placeholder="Last Name"
        name="lastName"
        ngModel
      >
    </div>
    <div class="email">
      <label for="">Email</label>
      <input
        type="text"
        placeholder="Email"
        name="email"
        ngModel
      >
    </div>
    <div class="country">
      <label for="">Country</label>
      <select name="countries" ngModel>
        <option value="">Select Country</option>
        <option value="Brazil">Brazil</option>
        <option value="United States">United States</option>
        <option value="Canada">Canada</option>
        <option value="Japan">Japan</option>
        <option value="China">China</option>
      </select>
    </div>
    <div class="postalCode">
      <label for="">Postal Code</label>
      <input
      type="text"
      placeholder="Postal Code"
      name="postalCode"
      ngModel
    >
    </div>
    <div class="phoneNumber">
      <label for="">Phone Number</label>
      <input
      type="text"
      placeholder="Phone Number"
      name="phoneNumber"
      ngModel
    >
    </div>
  </div>

  <h1>
    <span>2</span>
    PAYMENTS DETAILS
    <img src="../../../assets/padlock.svg" alt="">
  </h1>
  <div class="grid-container-details">
    <div class="card-number">
      <label for="">Credit Card Number</label>
      <div class="flex">
        <input
        type="text"
        placeholder="000-0-00-0000-0000"
        name="cardNumber"
        ngModel
      >
      <img src="../../../assets/card-img.svg" alt="">
      </div>
    </div>
    <section>
      <div class="security-code">
        <label for="">Security Code</label>
        <div class="flex">
          <input
          type="password"
          placeholder="***"
          name="securityCode"
          ngModel
        >
        <img src="../../../assets/interrogaton.svg" alt="">
        </div>
      </div>
      <div class="expiration-date">
        <label for="">Expiration Date</label>
        <input
          type="text"
          placeholder="MM / YY"
          name="expirationDate"
          ngModel
        >
      </div>
    </section>
  </div>

  <button>
    <img src="../../../assets/cart.svg" alt="">
    COMPLETE PURCHASE
  </button>
</form>
